<h1>Users</h1>
<% if @users.present? %>
<table class="table table-bordered">
  <tr>
    <th>User</th>
    <th>Created</th>
    <th>Last sign in</th>
    <th>Sign in count</th>
    <th>Locked at</th>
    <th>Failed attempts</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at.try(:to_s, :short) %></td>
      <td><%= user.last_sign_in_at.try(:to_s, :short) %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.locked_at.try(:to_s, :short) %></td>
      <td><%= user.failed_attempts %></td>
    </tr>
  <% end %>
</table>
<% else %>
<p>There are no users</p>
<% end %>
