<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple SAML Identity Provider</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >
  <!-- Latest compiled and minified JavaScript -->
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  ></script>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <%= nav_link_to 'Home', root_path %>
        <%= nav_link_to 'Users', manage_users_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= nav_link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= nav_link_to 'Register', new_user_registration_path %>
          <%= nav_link_to 'Sign in', new_user_session_path %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">

    <%= content_tag('div', alert, class: 'alert alert-danger', role: 'alert') if alert.present? %>
    <%= content_tag('div', notice, class: 'alert alert-success', role: 'alert') if notice.present? %>

    <%= yield %>
  </div>

</body>
</html>
